html,body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    width: 100%;
}
body{
    font-size: 1.4rem;
}

#layout{
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
}
.ui-wrap{
    width: 100%;
}
.ui-banner,.ui-banner img{
    width: 100%;
}

.ui-nav{
    background: #eee;
}
.ui-nav span{
    height: 3rem;
    line-height: 3rem;
    display: inline-block;
    padding: 0 1rem;
}
.ui-nav span.cur{
    background: #fff;
}